body{
    font-family: 'Do Hyeon', sans-serif;
}
h1{
    font-size: xx-large;
}
.name{
    color:orangered;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}